{# Override via templates/bundles/NowoSeoKit/seo/head.html.twig #}
<title>{{ seo.title }}</title>
{% if seo.description %}
<meta name="description" content="{{ seo.description }}">
{% endif %}
{% if seo.keywords %}
<meta name="keywords" content="{{ seo.keywords }}">
{% endif %}
{% if seo.author %}
<meta name="author" content="{{ seo.author }}">
{% endif %}
<meta name="robots" content="{{ seo.robots }}">
{% if seo.canonical %}
<link rel="canonical" href="{{ seo.canonical }}">
{% endif %}
{% for alt in seo.alternates %}
<link rel="alternate" hreflang="{{ alt.hreflang }}" href="{{ alt.url }}">
{% endfor %}
{% if seo.openGraph.enabled %}
<meta property="og:type" content="{{ seo.openGraph.type }}">
<meta property="og:title" content="{{ seo.openGraph.title }}">
{% if seo.openGraph.description %}
<meta property="og:description" content="{{ seo.openGraph.description }}">
{% endif %}
{% if seo.openGraph.url %}
<meta property="og:url" content="{{ seo.openGraph.url }}">
{% endif %}
{% if seo.openGraph.site_name %}
<meta property="og:site_name" content="{{ seo.openGraph.site_name }}">
{% endif %}
{% if seo.openGraph.locale %}
<meta property="og:locale" content="{{ seo.openGraph.locale|replace({'-': '_'}) }}">
{% endif %}
{% if seo.openGraph.image %}
<meta property="og:image" content="{{ seo.openGraph.image }}">
{% endif %}
{% endif %}
{% if seo.twitter.enabled %}
<meta name="twitter:card" content="{{ seo.twitter.card }}">
<meta name="twitter:title" content="{{ seo.twitter.title }}">
{% if seo.twitter.description %}
<meta name="twitter:description" content="{{ seo.twitter.description }}">
{% endif %}
{% if seo.twitter.image %}
<meta name="twitter:image" content="{{ seo.twitter.image }}">
{% endif %}
{% if seo.twitter.site %}
<meta name="twitter:site" content="{{ seo.twitter.site }}">
{% endif %}
{% if seo.twitter.creator %}
<meta name="twitter:creator" content="{{ seo.twitter.creator }}">
{% endif %}
{% endif %}
{% if seo.jsonLd.enabled and seo.jsonLd.graph is not empty %}
<script type="application/ld+json">{{ {'@context': 'https://schema.org', '@graph': seo.jsonLd.graph}|json_encode|raw }}</script>
{% endif %}
